	@import "circe.css";
	body {
		font-family: Circe, OpenSans, Ubuntu, Arial, sans-serif;
		width: 100%;
		margin: 0; padding: 0;
		/*background: #e6e6e6;*/
		background: #F1F3F5;
	}
	.raion {
		fill: Skyblue;
		position: absolute;
		stroke-width: 1;
		stroke: #fff;
		vector-effect: non-scaling-stroke;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	.raion:hover, .raion-hover {
		margin: 0;
		padding: 0;
		stroke-width: 3;
		fill:  rgb(98, 138, 174);
		cursor: pointer;
	}

	text {
		text-align: center;
		/*font-size: 1.4vh;*/
		font-size: 19px;
		word-wrap: break-word;
		transform: translateX(25px) translateY(-10px);
		fill: #0f1b99;
		position: relative;
		font-family: Verdana;
		
	}
	a, text, body {
		color: #0f1b99;
	}
	iframe {
		width: 550px;
		min-height: 550px;
		margin: 0;
		padding: 0;
		border: none;
	}
	table {
		/*float: left;*/
		width: 100%;
		font-size: 18px;
	}
	table td {
		width: auto;		margin: 0; padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: left;
	}
	h2 {
		width: 40%;
		margin: 0;
		text-align: center;
		font-family: verdana;
		padding: 0;
		font-weight: normal;
		font-size: 2.3vh;
	}
	h3 {
		width: 80%;
		margin: 0 10%;
		text-align: center;
		font-weight: normal;
		font-size: 2.1vh;
	}
	table img {
		width: 30px;
	}
	.hide {
		position: absolute;
		background: rgba(255, 255, 255, 0.95);
		border: yellow 1px solid;
		width: 250px;
		height: 100px;
		border-radius: 30px;
		display: none;
	}
	.dd:hover {
		cursor: pointer;
	}

	rect {
		stroke: #dcdcdc;
		fill: white;
		stroke-width: 2px;
		display: none;
		height: 450px;
		width: 350px;
	}
	.tooltip {
		background: white; 
		border:  2px #dcdcdc;  
		top:  150;
		left: 450; 
		position: absolute;
		width: 270px; 
		height: 300px;
		pointer-events: none;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	.tooltip p, h3 {
		text-align: center;
		margin: 0;
		padding: 0;
		color:  #1b1b9b;
		width: 80%;
		margin: 0 10%;
	}
	.tooltip p {
		font-size: 13.5px;
	}

	.tooltip h3 {
		font-size: 16px;
		padding: 9.5px ;
		font-style: italic;
	}
	.tooltip div {
		display: grid;
		width: 100%;
	}
	.tooltip img {
		margin: 0 auto;
		padding: 10px;
		display: block;
	}

	.list_raion ul, li {
		padding: 10px;
		margin: 0 auto;
	}
	.list_raion li {
		list-style: none;
	}
	.main-frame {
		display: flex;
		width: 100%;
		margin: 4.5% 0;
		height: 100%;
	}

	.navigation-map {
		width: 25%;
		height: 650px;
	}

	.navigation-map ul {
		width: 100%;
		height: 100%;
		overflow-y: scroll;

	}
	
	
	.navigation-map li {
		background: white;
		font-size: 10px;
		color: black;
		padding: 2px;
		text-align: justify;
		min-width: 200px;
		max-width: 350px;
		cursor: pointer;
		margin: 3px 0;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		border-left-width: 13px;
    		border-left-style: ridge;
    		border-left-color: #1c75bc;
	}

	.navigation-map li:hover {
		border-bottom: 1px solid blue;
		background: #c7c7c7;
	}

	.navigation-map li a {
		margin: 0 auto;
		padding: 0 3px;
	}

	.map {
		width: 75%;
		margin:  0 0 15% 0;
	}
	.container {
		width: 90%;
		margin: 0 5%;
		display: flex;
		background: #fbf8f8;
	}
	.content {
		width: 90%;
		margin: 0 5%;
		padding: 1% 0;
	}

	.info_mo {
		width: 100%;
		display: inline-flex;
		background: #7fc2ff6b;
		flex-wrap: wrap;
	}
	.blockinfo {
		padding: 1.5%;
		margin: 0.5%;
		text-align: center;
		background: #ffffff;
	}

	.blockinfo h2 {
		margin: 0 5px;
		font-size: 16px;
		text-align: center;
		width: auto;
		font-family: Circe Light;
	}
	

	.blockinfo img {
		max-height: 250px;
	}

	.blockinfo span {
		font-size: 20px;
		color: #0e0e73;
	}

	.mini-img {
		height: 150px;
		width: auto;
		margin: 0 auto;
	}

	.navigation {
		list-style: none;
		font-style: normal;
		text-decoration: none;
		display: inline-flex;
		width: 50%;
		margin: 0 25%;
		background: #fff;
		flex-flow: wrap;
		
}	
	.navigation li {
		background: white;
		color: black;
		padding: 5px;
		text-align: justify;
		width: auto;
		cursor: pointer;
		margin: 5px;
   		border-left-width: 13px;
    		border-left-style: ridge;
    		border-left-color: #f1f3f5;
	}
	.navigation li:hover {
		color: white;
		background: #ed1c24;
                border-left-width: 13px;
                border-left-style: ridge;
                border-left-color: #fff;

}

	.block_info {
		width: 100%;
		background: #7fc2ff6b;
		margin:  2.5%;
		padding: 2.5%;
	}

	.rukovoditel img {
		height: 150px;
		width: auto;
		border:  2px double #0e0e73;
		margin:  5px;
	}
	.rukovoditel p {
		margin:  2px 5px;
		padding: 2px 5px;
		text-align: justify;
	}

	.blockherb {
		width: 50%;
		margin: 0;
		padding: 0;
	}

	.blockherb img {
	}

	.blockherb h3 {
		margin: 0 5px;
		font-size: 18px;
		text-align: center;
		width: 100%;
		font-family: Circe Bold;
	}

	.blocks_info {
		margin-top: 10px;
		padding: 5px;
		background: #fbfbfb;
	}
	.blocks_info div {
		padding: 10px;
	}

	.blocks_info input[type="text"]{
		    width: 90%;
		    height: 20px;
		    margin: 2px;
		    padding: 2px;
		    border: #0e0e73 1px solid;
	}

	.blocks_info button, input[type="submit"] {
	width: fit-content;
    margin: 7.5px;
    padding: 4px 7.5px;
    color: black;
    background: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 1px 0.5px 1px -0.5px #2c2ca9;
	}

	.checkbox_label {
		font-size: 10px;
		margin: 5px;
		padding: 5px;
	}

	.block_organization {
		width: 80%;
		margin: 0 auto;
		padding: 0;
		font-family: Circe;
		background: #fff;
		display: block;
		border-right: 30px solid transparent;
		border-left: 30px solid transparent;
		border-bottom: 60px solid #ed1c24;
		border-top: 20px solid #1c75bc;
	}
	.up-main, .down-main {
		width: 80%;
		margin: 0.25% 10%;
		display:  flex;
		border-right: 0.5px dotted #ebebeb;
		margin-top: 15px;
	}
	.up-left, .down-left  {
		margin: 0 5%;
	}
	.up-right {
		width: 40%;
		margin:  0 1%;
	}

	.up-left, .down-left, .up-right, .down-right table td {
		min-width: 250px;
		height: auto;
		padding: 1.5%;
		margin: 0 10%;
	}

	 table td:nth-child(even) { color: #1c75bc; word-wrap: break-word;}
	 table td:nth-child(1) {min-width: 120px; word-wrap: break-word;}

	.main_organization, .main_organization h3, .main_organization h2, .main_organization h4 {
		width: 50%;
		text-align: center;
		margin: 0 auto;
		background: #1c75bc;
		color: white;
		max-width: 80%;
		border-bottom-left-radius: 70px;
		border-bottom-right-radius: 70px;
		word-wrap: break-word;
	}

	.main_organization h2 {
		font-size: 16px;
	}

	.main_organization h3{
		font-size: 12px;
		padding: 5px;
	}

	.main_organization h4 {
		font-size: 12px;
	}

	.up-right h5 {
		padding: 0;
			margin: 0;
			text-align: center;
	}

	.rectangle {
		width: 100%;
		counter-reset: li; 
		list-style: none; 
		font: 14px "Trebuchet MS", "Lucida Sans";
		padding: 0;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
		margin: 0 10% 20% 0;
	}
	
	.rectangle a {
		position: relative;
		display: block;
		padding: .4em .4em .4em .8em;
		margin: .5em 0 .5em 2.5em;
		background: #D3D4DA;
		color: #444;
		text-decoration: none;
		transition: all .3s ease-out;
	}
	
	.rectangle a:hover {background: #DCDDE1;}       
	
	.rectangle a:before {
		content: counter(li);
		counter-increment: li;
		position: absolute;
		left: -2.5em;
		top: 50%;
		margin-top: -1em;
		background: #c7e1fb;
		height: 2em;
		width: 2em;
		line-height: 2em;
		text-align: center;
		font-weight: bold;
	}
	
	.rectangle a:after {
		position: absolute;
		content: "";
		border: .5em solid transparent;
		left: -1em;
		top: 50%;
		margin-top: -.5em;
		transition: all .3s ease-out;
	}
	
	.rectangle a:hover:after {
		left: -.5em;
		border-left-color: #9097A2;
	}

	.up-menu {
		display: inline-block;
		list-style: none;
		background: #0f1b99;
	}
	.up-menu li {
		height: 40px;
		width: auto;
		margin: 1%;
		padding: 1%;
		color: #fff;
		border: 1px solid #fff;
		cursor: pointer;
	}

	.up-menu li:active {
		background: white;
		color: #0f1b99;
	}

	li h6 {
		padding: 0;
		padding-top: 5px;
		margin: 2.5px auto;
		text-align: center;
		word-wrap: break-word;
		text-transform: lowercase;
		width: 150px;
		font-size: 12px;
		font-weight: lighter;
	}
	.up-org {
		display: flex;
	}

	.logo {
		border: 2px black;
		width: 100px;
		height: auto;
		padding: 5px;
		margin: 5px;
	}
	.up-org input {
		float: left;
		width: 200px;
	}

	.middle-org input {
		width: 500px;
	}
	.middle-org label {
		width: 300px;
		display: inline-block;
	}

	.down-org {
		display: inline-flex;
	}

	.down-right ul img {
		padding: 2px;
		width: 150px;
	}

	.down-right ul {
		display: inline-flex;
		flex-flow: wrap;
		margin: 0 auto;
	}
	.down-right {
		width: 80%;
		margin: 2.5% 10%;
		flex-flow: row-reverse;
		text-align: center;
	}

	.main_organization img {
		height: 150px;
		padding:  1%;
		margin: 1%;
		max-width: 80%;
	}

	.export_list {
		display: inline-flex;
		flex-flow: wrap;
		width: 80%;
		margin: 0 auto;
		list-style: none;
	}

	.export_list li {
		background: #1c75bc;
		padding: 5px 15px;
		width: auto;
		margin: 1px 2px;
		color: #fff;
	}


	.del_butt, .edit_but {
	border: 1px solid #1c75bc;
	}

	.descriptions {
		    text-align: left;
		    word-wrap: break-word;
		    text-transform: lowercase;
		    width: 150px;
		    font-size: 12px;
		    font-style: italic;
		    margin: 1%;
	}
	.nice_navigation {
		background: white;
		border-top:  1px solid #dcdcdc;
		list-style: none;
		display: inline-flex;
		flex-flow: wrap;
		flex-direction: row;
		width: 100%;
	}
	.nice_navigation li {
		color:  #1c75bc;
		font-weight: bold;
		padding: 15px;
		text-align: center;
	}

	.nice_navigation a {
		text-decoration: none;
		font-family: Circe Light;
	}

	.nice_navigation li:hover {
		color:  black;
		border-bottom:  1px solid #ed1c24;
	}

	.nice_navigation li:nth-child(6) {
		color:  black;
		border-bottom: none;
	}

	.nice_navigation input {
		border-radius: 20px;
		background: #e6e6e6;
		width:  250px;
		padding: 5px;
		border:  none;
	}

	.nice_navigation button {
		border: none;
		margin-left: -25px;
		border-radius: 15px;
		padding: 5px;
		background: inherit;
	}

	.nice_navigation button:hover {
		cursor: pointer;
		background: #c7c7c7;
	}
	.nice_navigation img {
		width: 15px;
		height: 15px;
		float: right;
	}


	blockquote {
	   padding: 18px 10px 18px 70px;
	   font: 14px/20px italic Circe, serif;
	   background: url(../img/double-quotes.png) no-repeat scroll 10px 10px rgb(255, 255, 255);
		border-left: 7px solid #1c75bc;
		border-top: 1px dotted #c0c0c0;
		border-right:1px dotted #c0c0c0;
		color:  black;
		border-bottom: 1px dotted #c0c0c0;
	}

    .map-navigation::-webkit-scrollbar { 
        display: none; 
    }
	.map-navigation {
        overflow-y: auto; 
        overflow-x: hidden;
        height: 85vh;
		width: 300px;
		list-style: none;
		padding: 0;
		margin:  0;
	}
	.map-navigation li {
		font-family: Circe Light;
		padding: 5px 7px;
		margin: 2px 0;
		background: #fff;
		color:  black;
	}
	.map-navigation a {
		text-decoration: none;
		сolor:  black;
	}
	.map-navigation a:hover {
		color:  white;	
	}

	.map-navigation li:hover {
		background: #1c75bc;
	}

	.inner-city-list {
		list-style: disclosure-closed;
		margin: 0;
		background: #fff;
		padding: 0 15px;
	}
	.inner-city-list li {
		color: #1c75bc;
		font-size: 15px;
		margin: 0 5px;
	}

	.navigation-div {
		margin-top: -4.5%;
		padding-top: 25px;
		background: #1c75bc;
	}

	.map-navigation-div input {
		border-radius: 20px;
	    background: #fff;
	    width: 270px;
	    padding: 5px;
	    border: none;
	    margin: 4.5%;

	}

	.map-navigation-div img {
		width: 15px;
		height: 15px;
		margin-top: 7%;
	}




	.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle}
	.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:28px;user-select:none;-webkit-user-select:none}
	.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
	.select2-container .select2-selection--single .select2-selection__clear{background-color:transparent;border:none;font-size:1em}
	.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{padding-right:8px;padding-left:20px}
	.select2-container .select2-selection--multiple{box-sizing:border-box;cursor:pointer;display:block;min-height:32px;user-select:none;-webkit-user-select:none}
	.select2-container .select2-selection--multiple .select2-selection__rendered{display:inline;list-style:none;padding:0}
	.select2-container .select2-selection--multiple .select2-selection__clear{background-color:transparent;border:none;font-size:1em}
	.select2-container .select2-search--inline .select2-search__field{box-sizing:border-box;border:none;font-size:100%;margin-top:5px;margin-left:5px;padding:0;max-width:70%;resize:none;height:18px;vertical-align:bottom;font-family:sans-serif;overflow:hidden;word-break:keep-all}
	.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}
	.select2-dropdown{background-color:white;border:1px solid #aaa;border-radius:4px;box-sizing:border-box;display:block;position:absolute;left:-100000px;width:70%;z-index:1051}
	.select2-results{display:block}
	.select2-results__options{list-style:none;margin:0;padding:0}
	.select2-results__option{padding:6px;user-select:none;-webkit-user-select:none}
	.select2-results__option--selectable{cursor:pointer}
	.select2-container--open .select2-dropdown{left:0}
	.select2-container--open .select2-dropdown--above{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0}
	.select2-container--open .select2-dropdown--below{border-top:none;border-top-left-radius:0;border-top-right-radius:0}
	.select2-search--dropdown{display:block;padding:4px}
	.select2-search--dropdown .select2-search__field{padding:4px;width:70%;box-sizing:border-box}
	.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}
	.select2-search--dropdown.select2-search--hide{display:none}
	.select2-close-mask{border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:70%%;height:auto;width:auto;opacity:0;z-index:99;background-color:#fff;filter:alpha(opacity=0)}
	.select2-hidden-accessible{border:0 !important;clip:rect(0 0 0 0) !important;-webkit-clip-path:inset(50%) !important;clip-path:inset(50%) !important;height:1px !important;overflow:hidden !important;padding:0 !important;position:absolute !important;width:1px !important;white-space:nowrap !important}
	.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #aaa;border-radius:4px}
	.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}
	.select2-container--default .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;height:26px;margin-right:20px;padding-right:0px}
	.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#999}
	.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;position:absolute;top:1px;right:1px;width:20px}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}
	.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}
	.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{left:1px;right:auto}
	.select2-container--default.select2-container--disabled .select2-selection--single{background-color:#eee;cursor:default}
	.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear{display:none}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}
	.select2-container--default .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;padding-bottom:5px;padding-right:5px;position:relative}
	.select2-container--default .select2-selection--multiple.select2-selection--clearable{padding-right:25px}
	.select2-container--default .select2-selection--multiple .select2-selection__clear{cursor:pointer;font-weight:bold;height:20px;margin-right:10px;margin-top:5px;position:absolute;right:0;padding:1px}
	.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;box-sizing:border-box;display:inline-block;margin-left:5px;margin-top:5px;padding:0;padding-left:20px;position:relative;max-width:70%;overflow:hidden;text-overflow:ellipsis;vertical-align:bottom;white-space:nowrap}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__display{cursor:default;padding-left:2px;padding-right:5px}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{background-color:transparent;border:none;border-right:1px solid #aaa;border-top-left-radius:4px;border-bottom-left-radius:4px;color:#999;cursor:pointer;font-size:1em;font-weight:bold;padding:0 4px;position:absolute;left:0;top:0}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus{background-color:#f1f1f1;color:#333;outline:none}
	.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto}
	.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display{padding-left:5px;padding-right:2px}
	.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{border-left:1px solid #aaa;border-right:none;border-top-left-radius:0;border-bottom-left-radius:0;border-top-right-radius:4px;border-bottom-right-radius:4px}
	.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__clear{float:left;margin-left:10px;margin-right:auto}
	.select2-container--default.select2-container--focus .select2-selection--multiple{border:solid black 1px;outline:0}
	.select2-container--default.select2-container--disabled .select2-selection--multiple{background-color:#eee;cursor:default}
	.select2-container--default.select2-container--disabled .select2-selection__choice__remove{display:none}
	.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{border-top-left-radius:0;border-top-right-radius:0}
	.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom-left-radius:0;border-bottom-right-radius:0}
	.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #aaa}
	.select2-container--default .select2-search--inline .select2-search__field{background:transparent;border:none;outline:0;box-shadow:none;-webkit-appearance:textfield}
	.select2-container--default .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}
	.select2-container--default .select2-results__option .select2-results__option{padding-left:1em}
	.select2-container--default .select2-results__option .select2-results__option .select2-results__group{padding-left:0}
	.select2-container--default .select2-results__option .select2-results__option .select2-results__option{margin-left:-1em;padding-left:2em}
	.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-2em;padding-left:3em}
	.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-3em;padding-left:4em}
	.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-4em;padding-left:5em}
	.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-5em;padding-left:6em}
	.select2-container--default .select2-results__option--group{padding:0}
	.select2-container--default .select2-results__option--disabled{color:#999}
	.select2-container--default .select2-results__option--selected{background-color:#ddd}
	.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color:#5897fb;color:white}
	.select2-container--default .select2-results__group{cursor:default;display:block;padding:6px}
	.select2-container--classic .select2-selection--single{background-color:#f7f7f7;border:1px solid #aaa;border-radius:4px;outline:0;background-image:-webkit-linear-gradient(top, #fff 50%, #eee 100%);background-image:-o-linear-gradient(top, #fff 50%, #eee 100%);background-image:linear-gradient(to bottom, #fff 50%, #eee 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)}
	.select2-container--classic .select2-selection--single:focus{border:1px solid #5897fb}
	.select2-container--classic .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}
	.select2-container--classic .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;height:26px;margin-right:20px}
	.select2-container--classic .select2-selection--single .select2-selection__placeholder{color:#999}
	.select2-container--classic .select2-selection--single .select2-selection__arrow{background-color:#ddd;border:none;border-left:1px solid #aaa;border-top-right-radius:4px;border-bottom-right-radius:4px;height:26px;position:absolute;top:1px;right:1px;width:20px;background-image:-webkit-linear-gradient(top, #eee 50%, #ccc 100%);background-image:-o-linear-gradient(top, #eee 50%, #ccc 100%);background-image:linear-gradient(to bottom, #eee 50%, #ccc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)}
	.select2-container--classic .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}
	.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}
	.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow{border:none;border-right:1px solid #aaa;border-radius:0;border-top-left-radius:4px;border-bottom-left-radius:4px;left:1px;right:auto}
	.select2-container--classic.select2-container--open .select2-selection--single{border:1px solid #5897fb}
	.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow{background:transparent;border:none}
	.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}
	.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single{border-top:none;border-top-left-radius:0;border-top-right-radius:0;background-image:-webkit-linear-gradient(top, #fff 0%, #eee 50%);background-image:-o-linear-gradient(top, #fff 0%, #eee 50%);background-image:linear-gradient(to bottom, #fff 0%, #eee 50%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)}
	.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;background-image:-webkit-linear-gradient(top, #eee 50%, #fff 100%);background-image:-o-linear-gradient(top, #eee 50%, #fff 100%);background-image:linear-gradient(to bottom, #eee 50%, #fff 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)}
	.select2-container--classic .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;outline:0;padding-bottom:5px;padding-right:5px}
	.select2-container--classic .select2-selection--multiple:focus{border:1px solid #5897fb}
	.select2-container--classic .select2-selection--multiple .select2-selection__clear{display:none}
	.select2-container--classic .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;display:inline-block;margin-left:5px;margin-top:5px;padding:0}
	.select2-container--classic .select2-selection--multiple .select2-selection__choice__display{cursor:default;padding-left:2px;padding-right:5px}
	.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove{background-color:transparent;border:none;border-top-left-radius:4px;border-bottom-left-radius:4px;color:#888;cursor:pointer;font-size:1em;font-weight:bold;padding:0 4px}
	.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover{color:#555;outline:none}
	.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto}
	.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display{padding-left:5px;padding-right:2px}
	.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{border-top-left-radius:0;border-bottom-left-radius:0;border-top-right-radius:4px;border-bottom-right-radius:4px}
	.select2-container--classic.select2-container--open .select2-selection--multiple{border:1px solid #5897fb}
	.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple{border-top:none;border-top-left-radius:0;border-top-right-radius:0}
	.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0}
	.select2-container--classic .select2-search--dropdown .select2-search__field{border:1px solid #aaa;outline:0}
	.select2-container--classic .select2-search--inline .select2-search__field{outline:0;box-shadow:none}
	.select2-container--classic .select2-dropdown{background-color:#fff;border:1px solid transparent}
	.select2-container--classic .select2-dropdown--above{border-bottom:none}
	.select2-container--classic .select2-dropdown--below{border-top:none}
	.select2-container--classic .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}
	.select2-container--classic .select2-results__option--group{padding:0}
	.select2-container--classic .select2-results__option--disabled{color:grey}
	.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable{background-color:#3875d7;color:#fff}
	.select2-container--classic .select2-results__group{cursor:default;display:block;padding:6px}
	.select2-container--classic.select2-container--open .select2-dropdown{border-color:#5897fb}
